@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier Prime', sans-serif;
}

body {
  font-family: 'Courier Prime', sans-serif;
  background: url('frogger-bg.jpeg');
  color: #fff;
}

ol {
  display: list-item;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 60px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

h1 {
  font-size: 40px;
  margin: 25px 0;
}

h2 {
  font-size: 30px;
}

section {
  display: flex;
  justify-content: space-around;
}

.scores {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 25px;
}

.scores-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}

.scores-list {
  width: 100%;
  height: auto;
  padding-left: 50px;
}

li {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed #fff;
  margin-bottom: 10px;
  padding: 20px 0;
}

.add-scores {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 25px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

input {
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  color: #fff;
  background: transparent;
  margin-bottom: 25px;
  height: 50px;
  font-size: 20px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::placeholder {
  color: #fff;
}

button {
  font-family: 'Courier Prime', sans-serif;
  font-weight: 700;
  color: #fff;
  background: transparent;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
}

#add-btn {
  align-self: flex-end;
  width: 250px;
  height: 50px;
}

@media only screen and (max-width: 770px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 26px;
  }

  section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  button {
    font-size: 16px;
    height: 50px;
  }

  #add-btn {
    align-self: center;
    width: 200px;
  }

  .scores {
    width: 90%;
    padding: 15px;
  }

  .scores-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .add-scores {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
  }

  ol {
    display: list-item;
    font-size: 16px;
  }

  li {
    padding: 0;
  }

  input {
    margin-bottom: 20px;
    height: 40px;
    font-size: 16px;
  }

  .scores-list {
    width: 90%;
    padding: 0;
  }
}
